.login {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login input {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: none;
  border: 1px solid #ccc;
  padding: 0px 10px;
  font: 14px;
}

.item {
  margin: 15px 0;
}

.login button {
  width: 100%;
  border-radius: 10px;
  border: none;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 1.4em;
  cursor: pointer;
  background: #008c8c;
  outline: none;
  color: #fff;
}